body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.square {
  background-color: green;
  font-size: 4em;
  color: red;
  width: 80px;
  height: 80px;
  border: 2px solid orange;
}


@media (min-width: 600px) and (max-width: 800px) {
  body {
    height: 850px;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  body {
    height: 200px; 
  }
}

@media (min-width:1001px) {
  body{
    height: 100px;
  }
}
